@import './variables.scss';

.individualBlockElem{
    border-radius: 6px;
    border: 2px solid #e2e2e2;
    background-color: #f9f5f6;
    padding: 2px;
    width: 286px;
    cursor: pointer;
    position: relative;
    margin: 0 4px;
    height:348px;
    .rating{
        position: absolute;
        background-color: rgb(244, 57, 57);
        padding: 2px 4px;
        color: #fff;
        font-weight: 600;
        border-radius: 6px;
        top:3px;
        right: 3px;
    }
    .topSection{
        display: block;
        img{
            border-radius: 6px;
        }
    }
    .bottomSection{
        padding: 12px 18px;
        // width: 246px;
        h3{
            font-family: $primary-font;
            color: rgb(244 89 184);
            font-weight: 600;
            font-size: 18px;
            margin-block-start: unset;
            margin-block-end: unset;
            white-space: normal;
            height: 66px;
        }
        .movieInfo{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            p{
                color: rgb(63 158 239);
                font-weight: normal;
                font-size: 18px;
            }
        }
    }
}