
 .App .routerContainer{
      margin: 12px 0;
      display: flex;
      justify-content: center;
      gap: 12px;
      align-items: center;
      color: #e14986;
      
    }
    .App .routerContainer  button{
      border-radius: 6px;
      padding: 12px 18px;
      background-color: rgb(254 226 184);
    color: rgb(65 158 179);
    border: 1px solid goldenrod;
    font-weight: 600;      
    cursor: pointer;
    }

    .App .preDefinedSection h3{
      text-align: center;
    }
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
